* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    height: 100%;
}

.logo img {
    height: 100%;
    width: 90px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    color: black;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #7ee138;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: calc(100vh - 70.38px);
        width: 50%;
        top: 70.38px;
        background-color: #7ee138;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        color: white;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}